* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

body {
    /* background-image: linear-gradient(to top right, #084158, #377784);   */
    background-color: #377784;
}

.container {
    max-width: 470px;
    height: 430px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    /* border: 1px solid #ccc; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    background-color: #084158;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 43px;
}

.user-input {
    width: 450px;
    height: 38px;
    border-radius: 8px;
    border: grey 0px solid;
    font-size: 24px;
    padding: 0px 10px;
    color: #073a4e !important;
}

.options {
    margin-bottom: 20px;
    font-size: 23px;
}

.options label {
    display: block;
    margin-bottom: 10px;
}

.options input[type="checkbox"] {
    margin-right: 10px;
    margin-top: -6px;
    width: 40px;
}

.options input[type="number"] {
    width: 50px;
}

#password{
    font-family: Arial, Helvetica, sans-serif;
}

.generate {
    width: 465px;
    height: 42px;
    border: 0px;
    border-radius: 10px;
    font-size: 20px;
    background-color: #377784;
    border: 1px solid #00cff8
}

.input-range {
    width: 410px;
}

.generate:hover {
    background-color: #005b7f;
}

.center {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}